.red{
    color: red;
}

.green{
    color: green;
}

.left-align{
   text-align: left;
   text-indent: 50px;
   text-decoration-style: wavy;
}

.right-align{
    text-align: right;
}
.centre{
    text-align: center;
    text-indent: 50px;
    letter-spacing: 5px;
    text-shadow: 5px 5px green;
    color: brown;
    
}

.justify{
    text-align: justify;
}
h1{
    text-align-last: right;
    color: blue;
    text-decoration: line-through;
    text-indent: 50px;
}
